
<div class="publications">

  Charpentier, B., <u>Zhang, C.</u>, & Günnemann, S. (2023). 
  Training, Architecture, and Prior for Deterministic Uncertainty Methods. 
  <em>ICLR 2023 Workshop on Pitfalls of limited data and computation for Trustworthy ML.</em>
  <br><br>

  Pingitore, A., <u>Zhang, C.</u>, Vassalle, C., Ferragina, P., Landi, P., Mastorci, F., Sicaria, R., Tommasi, A., Zavattari, C., Prencipe, G., & Sîrbu, A. (2024). 
  Machine learning to identify a composite indicator to predict cardiac death in ischemic heart disease. 
  <em>International Journal of Cardiology, 131981.</em>

</div>
