            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar" style="font-size:1.3rem"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            {% endif %}
<!-- 
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin" style="font-size:1.25rem; margin-top: 5px;"></i></a>
            {% endif %}
 -->
            {%- if site.x_username -%}
            <a href="https://twitter.com/{{ site.x_username }}" title="X"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if site.youtube_id %}
            <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
            {% endif %}
            {%- if site.cv_icon -%}
            <a href="./assets/pdf/cv.pdf" target="_blank"><i class="ai ai-cv" style="font-size:1.3rem"></i></a>
            {% endif %}
